<!DOCTYPE html>
<html lang="en">
  <head>
 

    <meta charset="utf-8">
    <title>Problemas Ciudad de Buenos Aires</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Problemas Ciudad De Buenos Aires">
    <meta name="author" content="ANKV-Joel Matias Silva">

    <!-- Le styles -->
   

    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap-fileupload.css" rel="stylesheet">
    <link href="bootstrap/css/datepicker.css" rel="stylesheet">
   <link href="css/style.css" rel="stylesheet">




    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
      
      #map-canvas { width:800px; height:605px; }
    </style>
    
        



  </head>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">

          <a class="brand" href="#">Problemas Ciudad de Buenos Aires</a>
        </div>
      </div>
    </div>
    
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
         <%= @variable %>
            <form action="/form" method="post" enctype='multipart/form-data' id="problemBA">  
              <fieldset>
                <legend>Ingrese el Problema</legend>
                
                <label>Tipo de Problema</label>
                <select name="tipoDeProblema">
                  <option>Educación</option>
                  <option>Salud</option>
                  <option>Desarrollo Urbano</option>
                  <option>Otro</option>
                </select>
                
                
                <label>Fecha</label>
                <input type="text" value="Ingrese una fecha" class="datepicker" id="date" name="date">
                
                <div class="control-group">
                  <label>Dirección</label>                
                  <input type="text" name="direccion" id="direccion" placeholder="Ingrese la direccion">
                  <input type="hidden" name="longitud" id="longitud" >
                  <input type="hidden" name="latitud" id="latitud" > 
                </div>
                
                <label>Video</label>                
                <input type="text" name="video" id="video" placeholder="Ingrese link de video">
                
                <div>
                  <label class="control-label" for="inputIcon">Email</label>
                  <div class="controls">
                    <div class="input-prepend">
                      <span class="add-on"><i class="icon-envelope"></i></span>
                      <input class="span8" id="inputIcon" type="text" name="email" placeholder="Ingrese un email">
                    </div>
                  </div>
                </div>

                <label>Descripción</label>
                <textarea rows="5" name="descripcion" placeholder="Ingrese la descripcion"></textarea>
                
                <div class="fileupload fileupload-new control-group" data-provides="fileupload">
                
                  <span class="btn btn-file">
                  <span class="fileupload-new">Seleccione Archivo</span>
                  <span class="fileupload-exists">Cambie Archivo</span>
                  <input type="file" name="file" id="file"/></span>
                  <span class="fileupload-preview"></span>
                  <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>

                </div>
                
                
                <button type="submit" value="Upload" class="btn">Cargar Problema</button>
              </fieldset>
            </form> 

        </div>
      <div class="span8">
        
          <div id="map-canvas"></div>
        </div>
    </div> 
    <script type="text/javascript" src="js/jquery-latest.js"></script>
    <script type="text/javascript" src="js/usig.AutoCompleterFull.min.js"></script>
    <script type="text/javascript" src="js/usig.MapaInteractivo.min.js"></script>
    <script type="text/javascript" src="js/geoCoorBA.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="js/maps.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap-fileupload.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="js/datepicker.js"></script>
		<script type="text/javascript" src="bootstrap/js/jquery.validate.js"></script>
    <script type="text/javascript" src="js/validate.js"></script>
		


  </body>
</html>
